* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

/* NAVBAR */
/*-----------------------------------------------------------*/
.navigasi {
  height: 100px;
  background-color: #1750d3;
}

.nav-link {
  color: white;
}

.navbar-nav {
  justify-content: center;
  /* border: 1px solid white; */
  margin: 0 auto;
}

.tombol {
  width: 220px;
  border: 1px solid white;
}

.logo {
  width: 128px;
  height: 42px;
}

/*-----------------------------------------------------------*/
/* End of NAVBAR */
