@media screen and (max-width: 428px) {
  * {
    box-sizing: border-box;
    font-family: "inter", sans-serif;
  }

  /* N A V B A R */
  /*-----------------------------------------------------------*/

  .navbar-nav {
    justify-content: left;
    margin: 0;
  }
  .dropdown-menu .submenu {
    display: block;
    position: initial;
  }

  .logo {
    margin-left: 10px;
    width: 70px;
    height: auto;
  }

  /*-----------------------------------------------------------*/
  /* End of NAVBAR */

  /* H E A D E R */
  /*-----------------------------------------------------------*/

  .sec-header {
    /* border: 1px solid black; */
    height: 839px;
  }

  .sec-header1 {
    height: 450px;
    padding-top: 80px;
    width: 100%;
    /* border: 1px solid white; */
  }

  .header1 {
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    color: white;
    font-size: 26px;
    line-height: 35px;
  }

  .deskripsi-header {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    font-size: 13px;
    line-height: 18px;
    /* border: 1px solid white; */
  }

  .tombol-header {
    /* border: 1px solid white; */
    width: 100%;
    height: 44px;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .tombol-header1 {
    font-size: 13px;
    margin-left: 2.5%;
    width: 95%;
  }

  .tombol-header1:hover {
    background-color: rgba(255, 255, 255, 0.124);
    transition: ease-out 0.3s;
  }

  .tombol-header2 {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 2.5%;
    width: 95%;
  }

  .tombol-header2:hover {
    background-color: #d6e2ff;
    border: transparent;
    transition: ease-out 0.3s;
  }

  .sec-header2 {
    /* border: 1px solid white; */
    width: 100%;
    padding: 0 0 0 0;
    margin: 0;
    float: left;
  }

  .gambar1 {
    margin: 0;
    width: 90%;
  }

  /*-----------------------------------------------------------*/
  /* End of HEADER */

  /* C O N T E N T */
  /*-----------------------------------------------------------*/

  .sec-content {
    /* border: 1px solid black; */
    height: auto;
    padding: 80px 0;
    background-color: #fcfcfc;
  }

  .sec-content1 {
    border: 1px solid black;
    width: 100%;
    height: auto;
    float: left;
  }

  .kotak1 {
    /* border: 1px solid black; */
    width: 40%;
    height: auto;
    float: left;
    /* margin-top: 85px; */
    margin-left: 12%;
  }

  .sub-kotak1 {
    /* border: 1px solid black; */
    padding: 20px;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    border-radius: 15px;
  }

  .sub-kotak2 {
    /* border: 1px solid black; */
    padding: 20px;
    height: auto;
    margin-top: 24px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    border-radius: 15px;
  }

  .icon-kotak {
    width: 35%;
  }

  .kotak2 {
    /* border: 1px solid black; */
    width: 40%;
    height: auto;
    float: left;
    margin-left: 3%;
  }

  .sub-kotak3 {
    padding: 20px;
    height: auto;
    background-color: #4372e0;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    border-radius: 15px;
  }

  .sub-kotak4 {
    padding: 20px;
    height: auto;
    margin-top: 24px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    border-radius: 15px;
  }

  .judul-kotak {
    margin-top: 20px;
    font-size: 16px;
    color: #4d4d4d;
  }

  .p-kotak2 {
    color: white;
  }

  .judul-kotak2 {
    margin-top: 20px;
    font-size: 16px;
    color: white;
  }

  .sec-content2 {
    border: 1px solid black;
    padding: 0 40;
    width: 100%;
    height: auto;
    float: left;
    padding-top: 0px;
  }

  .judul-content1 {
    width: 70%;
    font-size: 25px;
    color: #4d4d4d;
    line-height: normal;
    margin-top: 50px;
    letter-spacing: 0.6px;
  }

  /*-----------------------------------------------------------*/
  /* End of CONTENT */
}
