@media only screen and (max-width: 834px) {
  .sec-header {
    height: 657px;
  }

  .header1 {
    font-size: 38px;
    line-height: 48px;
  }

  .gambar1 {
    margin: 120px 0 0 -50px;
  }

  .sec-content {
    /* border: 1px solid black; */
    height: 850px;
  }

  .judul-content1 {
    width: 100%;
  }

  /* ADS */
  /*-----------------------------------------------------------*/
  .sec-ads {
    /* border: 1px solid black; */
    height: 400px;
    padding: 30px 0;
  }

  .sec-ads1 {
    /* border: 1px solid #2f61d7; */
    height: 276px;
    /* background: linear-gradient(90deg, #124fdb 0%, #083192 100%); */
    background-color: #2f61d7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    display: flex;
  }

  .desc-ads {
    /* border: 1px solid white; */
    width: 70%;
    color: white;
    padding: 35px 0 35px 35px;
  }

  .desc-ads h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
  }

  .desc-ads p {
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
    color: white;
  }

  .img-ads {
    /* border: 1px solid black; */
    width: 40%;
    padding: 35px 35px 35px 0;
  }

  .img-ads img {
    float: right;
    width: 100%;
    border-radius: 7px;
  }
  /*-----------------------------------------------------------*/
  /* END OF ADS */

  /* KONTRIBUTOR */
  /* --------------------------------------------------------- */
  .sec-kontributor {
    background-color: white;
    /* border: 1px solid black; */
    height: auto;
  }

  .sec-kontributor .container {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    height: 477px;
    display: block;
    padding: 20px;
  }

  .desc-kontributor {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 30px 0px 0 0;
  }

  .desc-kontributor h2 {
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
  }

  .desc-kontributor p {
    text-align: justify;
  }

  .flow-kontributor {
    /* border: 1px solid red; */
    width: 100%;
  }

  .flow1 {
    display: flex;
    margin-top: 50px;
    width: 100%;
    /* border: 1px solid blue; */
    height: 100px;
  }

  .sub-flow1 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow1 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 30px;
  }

  .sub-flow1 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow2 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow2 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 10px;
  }
  .sub-flow2 p {
    width: 70%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow3 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow3 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 15px;
  }
  .sub-flow3 p {
    width: 65%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .flow2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid greenyellow; */
    height: 100px;
  }

  .sub-flow4 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow4 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 25px;
  }
  .sub-flow4 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow5 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow5 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 20px;
  }
  .sub-flow5 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow6 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow6 img {
    width: 32px;
    height: 32px;
    margin: 25px 0 25px 20px;
  }
  .sub-flow6 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 15px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: normal;
    letter-spacing: 0.6px;
  }
  /* --------------------------------------------------------- */
  /* END OF KONTRIBUTOR */

  /* ADVERTISE */
  /* --------------------------------------------------------- */

  .sec-advertise {
    /* border: 1px solid red; */
    height: auto;
    background-color: #fcfcfc;
    padding: 60px 0;
  }

  .sec-advertise .container {
    /* border: 1px solid blue; */
    height: auto;
    display: block;
  }

  .desc-advertise {
    width: 100%;
    /* border: 1px solid black; */
    padding-left: 0;
  }

  .desc-advertise h2 {
    margin-left: 348px;
    width: 50%;
    /* border: 1px solid blue; */
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
    text-align: right;
  }

  .desc-advertise p {
    text-align: justify;
    letter-spacing: 0.2px;
  }

  .flow-advertise {
    width: 100%;
    /* border: 1px solid greenyellow; */
    padding: 70px 0;
  }

  .flow-adv1 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
  }

  .sub-adv1 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv1 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 70px;
  }

  .sub-adv1 p {
    /* border: 1px solid white; */
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .sub-adv2 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv2 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv2 p {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .flow-adv2 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 5%;
  }

  .sub-adv3 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv3 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv3 p {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 5px;
  }

  .sub-adv4 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv4 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 50px;
  }

  .sub-adv4 p {
    /* border: 1px solid white; */
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 4px;
  }

  /* --------------------------------------------------------- */
  /* END OF ADVERTISE */
}

@media only screen and (max-width: 820px) {
  /* NAVIGASI */
  /* END OF NAVIGASI */

  /* HEADER */

  .sec-header {
    height: 600px;
  }

  .sec-header1 {
    /* border: 1px solid rgb(253, 3, 3); */
    height: 700px;
  }

  .header1 {
    font-size: 38px;
    width: 100%;
  }

  .sec-header2 {
    /* border: 1px solid rgb(255, 0, 0); */
    height: 700px;
  }

  .gambar1 {
    /* border: 1px solid green; */

    margin: 63px 0 0 -50px;
  }

  /* END OF HEADER */

  /* CONTENT */
  .icon-kotak {
    width: 40%;
  }
  /* END OF CONTENT */

  /* ADS */
  /*-----------------------------------------------------------*/
  .sec-ads {
    /* border: 1px solid black; */
    height: 400px;
    padding: 30px 0;
  }

  .sec-ads1 {
    /* border: 1px solid #2f61d7; */
    height: 276px;
    /* background: linear-gradient(90deg, #124fdb 0%, #083192 100%); */
    background-color: #2f61d7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    display: flex;
  }

  .desc-ads {
    /* border: 1px solid white; */
    width: 70%;
    color: white;
    padding: 35px 0 35px 35px;
  }

  .desc-ads h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
  }

  .desc-ads p {
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
    color: white;
  }

  .img-ads {
    /* border: 1px solid black; */
    width: 40%;
    padding: 35px 35px 35px 0;
  }

  .img-ads img {
    float: right;
    width: 100%;
    border-radius: 7px;
  }
  /*-----------------------------------------------------------*/
  /* END OF ADS */

  /* KONTRIBUTOR */
  /* --------------------------------------------------------- */
  .sec-kontributor {
    background-color: white;
    /* border: 1px solid black; */
    height: auto;
  }

  .sec-kontributor .container {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    height: 477px;
    display: block;
    padding: 20px;
  }

  .desc-kontributor {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 30px 0px 0 0;
  }

  .desc-kontributor h2 {
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
  }

  .desc-kontributor p {
    text-align: justify;
  }

  .flow-kontributor {
    /* border: 1px solid red; */
    width: 100%;
  }

  .flow1 {
    display: flex;
    margin-top: 50px;
    width: 100%;
    /* border: 1px solid blue; */
    height: 100px;
  }

  .sub-flow1 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow1 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 30px;
  }

  .sub-flow1 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow2 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow2 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 10px;
  }
  .sub-flow2 p {
    width: 70%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow3 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow3 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 15px;
  }
  .sub-flow3 p {
    width: 65%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .flow2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid greenyellow; */
    height: 100px;
  }

  .sub-flow4 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow4 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 25px;
  }
  .sub-flow4 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow5 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow5 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 20px;
  }
  .sub-flow5 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow6 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow6 img {
    width: 32px;
    height: 32px;
    margin: 25px 0 25px 20px;
  }
  .sub-flow6 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 15px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: normal;
    letter-spacing: 0.6px;
  }
  /* --------------------------------------------------------- */
  /* END OF KONTRIBUTOR */

  /* ADVERTISE */
  /* --------------------------------------------------------- */

  .sec-advertise {
    /* border: 1px solid red; */
    height: auto;
    background-color: #fcfcfc;
    padding: 60px 0;
  }

  .sec-advertise .container {
    /* border: 1px solid blue; */
    height: auto;
    display: block;
  }

  .desc-advertise {
    width: 100%;
    /* border: 1px solid black; */
    padding-left: 0;
  }

  .desc-advertise h2 {
    margin-left: 348px;
    width: 50%;
    /* border: 1px solid blue; */
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
    text-align: right;
  }

  .desc-advertise p {
    text-align: justify;
    letter-spacing: 0.2px;
  }

  .flow-advertise {
    width: 100%;
    /* border: 1px solid greenyellow; */
    padding: 70px 0;
  }

  .flow-adv1 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
  }

  .sub-adv1 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv1 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 70px;
  }

  .sub-adv1 p {
    /* border: 1px solid white; */
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .sub-adv2 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv2 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv2 p {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .flow-adv2 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 5%;
  }

  .sub-adv3 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv3 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv3 p {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 5px;
  }

  .sub-adv4 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv4 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 50px;
  }

  .sub-adv4 p {
    /* border: 1px solid white; */
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 4px;
  }

  /* --------------------------------------------------------- */
  /* END OF ADVERTISE */
}

@media only screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-family: "inter", sans-serif;
  }

  /* N A V B A R */
  /*-----------------------------------------------------------*/

  /*-----------------------------------------------------------*/
  /* End of NAVBAR */

  /* H E A D E R */
  /*-----------------------------------------------------------*/

  .sec-header {
    /* border: 1px solid black; */
    background-color: #2f61d7;
    width: 100%;
    height: 602px;
  }

  .sec-header1 {
    /* border: 1px solid white; */
    width: 50%;
    height: 500px;
    padding: 100px 0 0 0;
    margin: 0;
    float: left;
  }

  .header1 {
    width: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 45px;
  }

  .deskripsi-header {
    /* border: 1px solid white; */
    width: 85%;
    padding-top: 10px;
    font-size: 14px;
    color: white;
    letter-spacing: 0.6px;
    line-height: 25px;
  }

  .tombol-header {
    /* border: 1px solid white; */
    width: 90%;
    height: 44px;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .tombol-header1 {
    width: 30%;
    font-size: 14px;
    height: 40px;
    background-color: transparent;
    /* border: 1px solid white; */
    float: left;
    color: white;
    font-weight: 500;
    letter-spacing: 0.6px;
    border-radius: 5px;
  }

  .tombol-header1:hover {
    background-color: rgba(255, 255, 255, 0.124);
    transition: ease-out 0.3s;
  }

  .tombol-header2 {
    border: 2px solid white;
    width: 50%;
    font-size: 14px;
    height: 40px;
    background-color: white;
    margin: 0;
    float: left;
    color: #1750d3;
    font-weight: 500;
    margin-left: 20px;
    letter-spacing: 0.4px;
    border-radius: 5px;
  }

  .tombol-header2:hover {
    background-color: #d6e2ff;
    border: transparent;
    transition: ease-out 0.3s;
  }

  .sec-header2 {
    /* border: 1px solid white; */
    width: 45%;
    padding: 100px 0 0 0;
    margin: 0;
    float: left;
  }

  .gambar1 {
    width: 120%;
    margin-left: -25px;
    margin-top: 100px;
    justify-content: center;
  }

  /*-----------------------------------------------------------*/
  /* End of HEADER */

  /* C O N T E N T */
  /*-----------------------------------------------------------*/

  .sec-content {
    /* border: 1px solid black; */
  }

  .sec-content1 {
    /* border: 1px solid black; */
    height: auto;
  }

  .kotak1 {
    /* border: 1px solid black; */
    margin: 0;
    width: 160px;
    height: auto;
  }

  .sub-kotak1 {
    /* border: 1px solid black; */
    width: 150px;
    height: auto;
  }

  .sub-kotak2 {
    /* border: 1px solid black; */
    width: 150px;
    height: auto;
  }

  .icon-kotak {
    width: 35%;
  }

  .kotak2 {
    /* border: 1px solid black; */
    width: 160px;
    height: auto;
  }

  .sub-kotak3 {
    width: 150px;
    height: auto;
  }

  .sub-kotak4 {
    width: 150px;
    height: auto;
  }

  .judul-kotak {
  }

  .p-kotak2 {
  }

  .judul-kotak2 {
  }

  .sec-content2 {
    /* border: 1px solid black; */
  }

  .judul-content1 {
  }

  /*-----------------------------------------------------------*/
  /* END OF CONTENT */

  /* ADS */
  /*-----------------------------------------------------------*/
  .sec-ads {
    /* border: 1px solid black; */
    height: 400px;
    padding: 30px 0;
  }

  .sec-ads1 {
    /* border: 1px solid #2f61d7; */
    height: 276px;
    /* background: linear-gradient(90deg, #124fdb 0%, #083192 100%); */
    background-color: #2f61d7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 0.25);
    display: flex;
  }

  .desc-ads {
    /* border: 1px solid white; */
    width: 70%;
    color: white;
    padding: 35px 0 35px 35px;
  }

  .desc-ads h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
  }

  .desc-ads p {
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
    color: white;
  }

  .img-ads {
    /* border: 1px solid black; */
    width: 40%;
    padding: 35px 35px 35px 0;
  }

  .img-ads img {
    float: right;
    width: 100%;
    border-radius: 7px;
  }
  /*-----------------------------------------------------------*/
  /* END OF ADS */

  /* KONTRIBUTOR */
  /* --------------------------------------------------------- */
  .sec-kontributor {
    background-color: white;
    /* border: 1px solid black; */
    height: auto;
  }

  .sec-kontributor .container {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    padding: 20px;
  }

  .desc-kontributor {
    width: 100%;
    /* border: 1px solid blue; */
    padding: 30px 0px 0 0;
  }

  .desc-kontributor h2 {
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
  }

  .desc-kontributor p {
    text-align: justify;
  }

  .flow-kontributor {
    /* border: 1px solid red; */
    width: 100%;
  }

  .flow1 {
    display: flex;
    margin-top: 50px;
    width: 100%;
    /* border: 1px solid blue; */
    height: 100px;
  }

  .sub-flow1 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow1 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 30px;
  }

  .sub-flow1 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow2 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow2 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 10px;
  }
  .sub-flow2 p {
    width: 70%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow3 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow3 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 15px;
  }
  .sub-flow3 p {
    width: 65%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .flow2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid greenyellow; */
    height: 100px;
  }

  .sub-flow4 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow4 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 25px;
  }
  .sub-flow4 p {
    width: 50%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: #4d4d4d;
    text-align: center;
    letter-spacing: 0.6px;
  }

  .sub-flow5 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow5 img {
    width: 32px;
    height: 32px;
    margin: 22px 0 25px 20px;
  }
  .sub-flow5 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 1px solid black; */
    color: #4d4d4d;
    text-align: normal;
    letter-spacing: 0.6px;
  }

  .sub-flow6 {
    display: flex;
    margin-left: 2%;
    width: 30%;
    height: 80px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    border-radius: 7px;
  }
  .sub-flow6 img {
    width: 32px;
    height: 32px;
    margin: 25px 0 25px 20px;
  }
  .sub-flow6 p {
    width: 60%;
    height: auto;
    margin: 25px 0 25px 5px;
    font-size: 15px;
    font-weight: 500;
    /* border: 1px solid white; */
    color: white;
    text-align: normal;
    letter-spacing: 0.6px;
  }
  /* --------------------------------------------------------- */
  /* END OF KONTRIBUTOR */

  /* ADVERTISE */
  /* --------------------------------------------------------- */

  .sec-advertise {
    /* border: 1px solid red; */
    height: auto;
    background-color: #fcfcfc;
    padding: 60px 0;
  }

  .sec-advertise .container {
    /* border: 1px solid blue; */
    height: auto;
    display: block;
  }

  .desc-advertise {
    width: 100%;
    /* border: 1px solid black; */
    padding-left: 0;
  }

  .desc-advertise h2 {
    margin-left: 348px;
    width: 50%;
    /* border: 1px solid blue; */
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 35px;
    color: #4d4d4d;
    margin-bottom: 20px;
    text-align: right;
  }

  .desc-advertise p {
    text-align: justify;
    letter-spacing: 0.2px;
  }

  .flow-advertise {
    width: 100%;
    /* border: 1px solid greenyellow; */
    padding: 70px 0;
  }

  .flow-adv1 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
  }

  .sub-adv1 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv1 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 70px;
  }

  .sub-adv1 p {
    /* border: 1px solid white; */
    color: white;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .sub-adv2 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv2 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv2 p {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 10px;
    font-weight: 500;
  }

  .flow-adv2 {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 5%;
  }

  .sub-adv3 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv3 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 60px;
  }

  .sub-adv3 p {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 5px;
  }

  .sub-adv4 {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 5%;
    height: 80px;
    border-radius: 7px;
    background-color: #2f61d7;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.25);
    display: flex;
  }

  .sub-adv4 img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 15px 50px;
  }

  .sub-adv4 p {
    /* border: 1px solid white; */
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 25px 15px 15px 4px;
  }

  /* --------------------------------------------------------- */
  /* END OF ADVERTISE */
}
