@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-family: "inter", sans-serif;
  }

  /* N A V B A R */
  /*-----------------------------------------------------------*/

  /*-----------------------------------------------------------*/
  /* End of NAVBAR */

  /* H E A D E R */
  /*-----------------------------------------------------------*/

  .sec-header {
    /* border: 1px solid black; */
    background-color: #2f61d7;
    width: 100%;
    height: 537px;
  }

  .sec-header1 {
    /* border: 1px solid white; */
    width: 50%;
    height: 500px;
    padding: 100px 0 0 0;
    margin: 0;
    float: left;
  }

  .header1 {
    width: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 40px;
  }

  .deskripsi-header {
    /* border: 1px solid white; */
    width: 85%;
    padding-top: 20px;
    font-size: 16px;
    color: white;
    letter-spacing: 0.6px;
    line-height: 25px;
  }

  .tombol-header {
    /* border: 1px solid white; */
    width: 90%;
    height: 44px;
    margin: 30px 0 0 0;
    padding: 0;
  }

  .tombol-header1 {
    width: 30%;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    float: left;
    color: white;
    font-weight: 500;
    letter-spacing: 0.6px;
    border-radius: 5px;
  }

  .tombol-header1:hover {
    background-color: rgba(255, 255, 255, 0.124);
    transition: ease-out 0.3s;
  }

  .tombol-header2 {
    border: 2px solid white;
    width: 55%;
    height: 40px;
    background-color: white;
    margin: 0;
    float: left;
    color: #1750d3;
    font-weight: 500;
    margin-left: 20px;
    letter-spacing: 0.4px;
    border-radius: 5px;
  }

  .tombol-header2:hover {
    background-color: #d6e2ff;
    border: transparent;
    transition: ease-out 0.3s;
  }

  .sec-header2 {
    /* border: 1px solid white; */
    width: 45%;
    padding: 100px 0 0 0;
    margin: 0;
    float: left;
  }

  .gambar1 {
    margin-left: -25px;
    justify-content: center;
  }

  /*-----------------------------------------------------------*/
  /* End of HEADER */

  /* C O N T E N T */
  /*-----------------------------------------------------------*/

  .sec-content {
    /* border: 1px solid black; */
  }

  .sec-content1 {
    /* border: 1px solid black; */
    height: auto;
  }

  .kotak1 {
    /* border: 1px solid black; */
    margin: 0;
    width: 160px;
    height: auto;
  }

  .sub-kotak1 {
    /* border: 1px solid black; */
    width: 150px;
    height: auto;
  }

  .sub-kotak2 {
    /* border: 1px solid black; */
    width: 150px;
    height: auto;
  }

  .icon-kotak {
    width: 35%;
  }

  .kotak2 {
    /* border: 1px solid black; */
    width: 160px;
    height: auto;
  }

  .sub-kotak3 {
    width: 150px;
    height: auto;
  }

  .sub-kotak4 {
    width: 150px;
    height: auto;
  }

  .judul-kotak {
  }

  .p-kotak2 {
  }

  .judul-kotak2 {
  }

  .sec-content2 {
    /* border: 1px solid black; */
  }

  .judul-content1 {
  }
}
